@charset 'utf-8';

html {
  font-family: "Apple SD Gothic", "맑은고딕", "Nanum Gothic", "Noto Sans KR",
    sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}
/* 네비게이션 높이 */
.global-nav {
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
}

/* 네비게이션 가로 */
.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.local-nav-links > .product-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.local-nav-links > a {
  font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  padding-top: 50vh;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
}

.main-message > p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.description {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
.description > strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}
